@{
    ViewData["Title"] = "Index";
}
@model PrivateViewModel
<h1>Private Data</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The result of the API call is: @Model.Message</p>
</div>

